<header class="center-content">
  <div class="right-grp">
    <a routerLink=""><img src="../assets/images/logo.png" alt="Antraflix Logo" class="logo" /></a>

    <nav *ngIf="isLoggedIn === true">
      <div class="loggedNav">
        <ul class="nav-items">
          <li class="nav-item" *ngFor="let navItem of navItems">
            <a [routerLink]="[navItem.path]">{{ navItem.text }}</a>
          </li>
        </ul>
        <div class="right-elements">
          <div *ngIf="isLoggedIn" class="profil">
            <span class="username">{{username}}</span>
            <img src="../../assets/images/avatar.jpg" alt="pic" />
          </div>
          <div class="logout">
            <mat-icon class="icons" (click)="onLogout()">exit_to_app</mat-icon>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="btn-container">
    <button *ngIf="isLoggedIn === false" mat-raised-button routerLink="/login">
      Sign In
    </button>
  </div>
</header>