@import "../../styles.scss";

.center-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 0 0;
  .btn-container {
    display: flex;
    align-items: center;
  }
}

.right-grp {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-items {
  margin-left: 80px;
  display: flex;
  gap: 25px;
  a {
    font-size: 1.3rem;
    text-decoration: none;
    color: $color-white;
  }
  a:hover {
    color: $color-gray;
  }
}

nav {
  width: 100%;
}

.loggedNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-elements {
  display: flex;
  align-items: center;
  .profil {
    display: flex;
    align-items: center;
    gap: 20px;
    .username {
      font-size: 1.3rem;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-size: cover;
    }
  }
  .logout {
    margin-left: 2rem;
    .icons:hover {
      color: $color-red;
      cursor: pointer;
    }
  }
}
