<app-nav-bar></app-nav-bar>
<main>
  <div class="header">
    <h1 class="title">Create Your Account</h1>
    <p class="subtitle">
      Use your email and password to watch on your favorite devices.
    </p>
  </div>
  <form>
    <input type="name" placeholder="Full Name" />
    <input type="email" placeholder="Email" />
    <input type="password" placeholder="Password" />
    <input type="password" placeholder="Retype Password" />
    <h6>Date Of Birth</h6>
    <select>
      <option>MONTH</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <select>
      <option>DATE</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
    </select>
    <select>
      <option>YEAR</option>
      <option>1997</option>
      <option>1998</option>
      <option>1999</option>
      <option>2000</option>
    </select>
  </form>
  <footer>
    <p>By clicking “CONTINUE” you agree to the TrailBlazers Terms of Use and Privacy Policy.</p>
    <button>CONTINUE</button>
  </footer>
</main>
