@import "../../../styles.scss";

#login-dialog {
  padding-top: 200px;
}
#login-dialog > * {
  width: auto;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errors {
  margin: 0 0 10px 0;
}

.errors p {
  margin: 0;
}
