@import "../../../styles.scss";

.alert {
  width: 50%;
  padding: 0.5rem 5rem;
  background-color: #db202c;
  margin: auto;
  h4 {
    text-align: center;
  }
}
#login-dialog {
  margin-top: 8rem;
}
#login-dialog > * {
  width: auto;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errors {
  margin: 0 0 10px 0;
}

.errors p {
  margin: 0;
}
.center {
  text-align: center;
}
