<h2 style="color: green">child component</h2>

{{ message }}
<!-- <br /> -->
<!-- Data as a input -->
<!-- Message from Parent via @input {{ newmessage }} <br /><br /> -->
<!-- Injected Content -->
<!-- Message from Parent via content injection
<ng-content></ng-content>

<br /><br /><br />
Code :
<input type="text" name="code" [(ngModel)]="customer.code" autocomplete="off" />
<br /><br />
Name:
<input type="text" name="name" [(ngModel)]="customer.name" autocomplete="off" /> -->

<!-- <app-grand-child [newCustomer]="customer"></app-grand-child> -->
