<mat-nav-list>
  <div class="side-content">
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <mat-icon>favorite</mat-icon> <span class="nav-caption">Favotites</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <mat-icon>watch_later</mat-icon>
    <span class="nav-caption">Watch Later</span>
  </a>
  <div class="logout">
    <hr class="hr"/>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon [routerLink]="['/home']">logout</mat-icon
    ><span class="nav-caption">Log Out</span>
  </a>
  </div>
  </div>
</mat-nav-list>
