@import "../../styles"

*
    padding: 0
    margin: 0
    box-sizing: border-box
    color: whitesmoke
    background-color: $main-bg-color

html
    height: 100vh
    width: 100vw
    background-color: $main-bg-color
