header{
    color: rgb(255, 0, 136);
  }

button{
    color: rgb(255, 0, 136);
}

div{
  height: 130px;
  width: 30%;

  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
}

li{
  margin: 10px;
}
  