<html>
  <mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="side">
      <app-nav-sidebar></app-nav-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-nav-header-bar
        (sidenavToggle)="sidenav.toggle()"
      ></app-nav-header-bar>

      <div class="container">
        <div class="titleText">
          <h1>
            <u> {{ moviesDetails.title }} </u>
          </h1>
          <h6>{{ moviesDetails.tagline }}</h6>
        </div>
        <ngb-carousel *ngIf="moviesTrailers.length !== 0">
          <ng-template ngbSlide *ngFor="let trailer of moviesTrailers">
            <div class="youTubePlayer-wrapper">
              <youtube-player
                [videoId]="trailer.key"
                suggestedQuality="highres"
                [height]="600"
                [width]="800"
                [startSeconds]="0"
                [endSeconds]="0"
              >
              </youtube-player>
            </div>
            <div class="infoContainer">
              <div class="thumbnail">
                <img
                  [src]="
                    movieImg === 'https://image.tmdb.org/t/p/originalnull'
                      ? 'https://c8.alamy.com/comp/T9YH1X/blank-missing-poster-template-ready-to-print-T9YH1X.jpg'
                      : movieImg
                  "
                  width="150px"
                  height="200px"
                />
              </div>
              <ul>
                <mat-chip-list
                  class="example-chip"
                  cdkDropListOrientation="horizontal" 
                  *ngIf="moviesDetails.genres?.length"
                >
                <label>Genre: </label>
                  <mat-chip
                    class="example-box"
                    *ngFor="let n of moviesDetails.genres"
                  >
                  {{ n.name }}
                  </mat-chip>
                </mat-chip-list>
                <br />
                <li>
                  <div class="info">
                    <label>Rating: </label>
                    <span
                      *ngFor="let i of array"
                      [innerHtml]="
                        i <= moviesDetails.vote_average ? starf : star
                      "
                      style="color: yellow"
                    >
                    </span>
                  </div>
                </li>
                <li>
                  <label>Status: </label>
                  {{ moviesDetails.status }}
                </li>
                <li>
                  <label>Language: </label>
                  {{ moviesDetails.original_language }}
                </li>
                <li>
                  <label>Minutes: </label>
                  {{ moviesDetails.runtime }}
                </li>
                <li>
                  <label>Released Date: </label>
                  {{ moviesDetails.release_date }}
                </li>
                <li>
                  <label>Web-Page: </label>
                  <a href="{{ moviesDetails.homepage }}">{{
                    moviesDetails.homepage
                  }}</a>
                </li>
                <li>
                  <mat-icon class="icon" [routerLink]="['/movielist']"
                    >assignment_return</mat-icon
                  >
                </li>
              </ul>
            </div>
          </ng-template>
        </ngb-carousel>
        <div class="notfound" *ngIf="moviesTrailers.length === 0">
          {{ notFound }}
          <img
            *ngIf="moviesTrailers.length === 0"
            src="https://c8.alamy.com/comp/T9YH1X/blank-missing-poster-template-ready-to-print-T9YH1X.jpg"
            width="150px"
            height="200px"
          />
          <br />
          <mat-icon class="icon" [routerLink]="['/movielist']"
            >assignment_return</mat-icon
          >
          <br />
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</html>
