<html>
  <mat-sidenav-container class="nav-container">
    <mat-sidenav-content>
      <app-nav-header-bar></app-nav-header-bar>
      <main class="headermain">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="body">
    <div class="formContainer">
      <form [formGroup]="loginForm" validate (ngSubmit)="signIn()">
        <div class="labels">
          <mat-label>
            <mat-icon>account_circle</mat-icon><u>SIGN IN </u>
          </mat-label>
        </div>
        <br />

        <mat-form-field appearance="outline">
          <mat-label><mat-icon>face</mat-icon><b> Email</b></mat-label>
          <input
            #emailInput
            matInput
            placeholder="Email"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          <mat-icon
            matSuffix
            class="block"
            *ngIf="this.email?.invalid && this.email?.touched"
            >block</mat-icon
          >
          <mat-icon matSuffix class="check" *ngIf="this.email?.valid"
            >check_circle</mat-icon
          >
          <mat-hint
            *ngIf="
              this.email?.untouched &&
              this.email?.invalid &&
              this.email?.touched
            "
          >
            - Email required
          </mat-hint>
          <mat-hint *ngIf="!takenEmail && this.email?.touched">
            This email is not linked to an account
          </mat-hint>
          <mat-error *ngIf="this.email?.invalid && this.email?.touched">
            This email is invalid
          </mat-error>
        </mat-form-field>
        <br /><br />

        <mat-form-field appearance="outline">
          <mat-label><mat-icon>password</mat-icon><b> Password</b></mat-label>
          <input matInput placeholder="Password" formControlName="password" />
          <mat-icon
            matSuffix
            class="block"
            *ngIf="this.password?.invalid && this.password?.touched"
            >block</mat-icon
          >
          <mat-icon matSuffix class="check" *ngIf="this.password?.valid"
            >check_circle</mat-icon
          >
          <mat-hint
            *ngIf="
              this.password?.untouched &&
              this.password?.invalid &&
              this.password?.touched
            "
          >
            - Password required
          </mat-hint>
          <mat-error *ngIf="this.password?.invalid && this.password?.touched">
            This password is invalid
          </mat-error>
        </mat-form-field>

        <div class="hint">
          <mat-hint *ngIf="this.password?.touched && this.password?.invalid"
            >- Uppercase letters <br />
            - Lowercase letters
          </mat-hint>
          <mat-hint *ngIf="this.password?.touched && this.password?.invalid">
            - Numbers in the end <br />
            - At least 6 characters
          </mat-hint>
        </div>
        <br />

        <div class="list">
          <mat-checkbox formControlName="rememberMe" color="primary">
            Ready?
          </mat-checkbox>
          <mat-icon
            class="priority"
            *ngIf="this.rememberMe?.untouched && this.rememberMe?.invalid"
            >priority_high</mat-icon
          >
        </div>

        <br />

        <div class="buttons">
          <button
            mat-button
            class="invalidButton"
            *ngIf="loginForm.invalid || !takenEmail"
            type="button"
          >
            Sign IN
          </button>
          <button
            mat-raised-button
            [disabled]="loginForm.invalid && takenEmail"
            *ngIf="!loginForm.invalid && takenEmail"
          >
            Sign IN
          </button>
          <button mat-raised-button (click)="signUp()" type="button">
            Sign UP
          </button>
        </div>
      </form>
    </div>
    <br />
  </div>
</html>
