html,
body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 100%;
    width: 100%;
    background-color: bisque;
    border: 0.01px solid black;
}
/* .box_g {
    height: 250px;
    width: 250px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: yellow;
} */
.box_c {
    height: 200px;
    width: 200px;

    margin-top: 15px;
    padding: 14px;
    border: 10px solid black;
    background-color: blueviolet;
}
.fixed {
    top: 100px;
    left: 100px;
    position: fixed;
    background-color: green;
}
.absolute {
    top: 10px;
    position: absolute;
}
