<section class="home__download">
  <div class="home__download-text center-content">
    <h2>Download your shows to watch offline.</h2>
    <h3>Save your favorites easily and always have something to watch.</h3>
  </div>
  <div class="home__download-image">
    <img
      src="../assets/images/mobile-0819.jpg"
      alt="stranger-things"
      class="mobile-img"
    />
    <div class="download-image__overlay">
      <div class="left-grp">
        <img src="../assets/images/boxshot.png" alt="cover-img" />
        <div class="download-image__description">
          <h4>Stranger Things</h4>
          <p>Downloading...</p>
        </div>
      </div>
      <img src="./assets/images/download-icon.gif" alt="dl-img" class="dl-icon" />
    </div>
  </div>
</section>
