<form
  [formGroup]="mForm"
  id="login-dialog"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1rem"
>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      required
      type="email"
      formControlName="email"
    />
    <mat-error *ngIf="email.invalid && email.touched" class="has-text-danger"
      >Your email does not look right</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error
      *ngIf="password.invalid && password.touched"
      class="has-text-danger"
      >Your password does not look right</mat-error
    >
  </mat-form-field>

  <button mat-raised-button type="submit">Sign In</button>
  <span>No account? <a routerLink="/register">Register Now</a></span>
</form>
