<div
  id="login-dialog"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1rem"
>
  <h2>Sign In</h2>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <!-- <input matInput placeholder="pat@example.com" [formControl]="email" required> -->
    <input matInput placeholder="pat@example.com" required type="email" />
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <!-- <input matInput placeholder="pat@example.com" [formControl]="email" required> -->
    <input matInput required type="password" />
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>

  <button mat-raised-button type="button">Sign In</button>
  <span>No account? <a routerLink="/register">Register Now</a></span>
</div>
