<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register_Page</title>
  </head>
  <body>
    <main>
      <div>
        <label>SIGN UP</label>
        <ul>
          <li><input type="text" placeholder="UserName*" /></li>
          <li><input type="text" placeholder="User Email*" /></li>
          <li><input type="text" placeholder="Password*" /></li>
          <li><input type="text" placeholder="Confirm Password*" /></li>
          <li>
            <select disabled>
              <option>Role*</option>
            </select>
          </li>
          <li><input type="text" placeholder="Api Key*" /></li>
          <li><button>Register</button></li>
        </ul>
      </div>
    </main>
  </body>
</html>
