<!-- <body>
  <main>
    <mat-sidenav-container class="nav-container">
      <mat-sidenav-content>
        <app-nav-header-bar></app-nav-header-bar>
        <main class="headermain">
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="signup">
      <label>SIGN UP</label>
      <ul>
        <li><input type="text" placeholder="UserName*" /></li>
        <li><input type="text" placeholder="User Email*" /></li>
        <li><input type="text" placeholder="Password*" /></li>
        <li><input type="text" placeholder="Confirm Password*" /></li>
        <li>
          <select disabled>
            <option>Role*</option>
          </select>
        </li>
        <li><input type="text" placeholder="Api Key*" /></li>
        <li><button>Register</button></li>
      </ul>
    </div>
  </main>
</body> -->
<html>
  <mat-sidenav-container class="nav-container">
    <mat-sidenav-content>
      <app-nav-header-bar></app-nav-header-bar>
      <main class="headermain">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- // -->

  <div class="mainContainer">
    <!-- <div class="bodyContainer"> -->
    <div class="form">
      <mat-form-field floatLabel="never" appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <img src="../../assets/register-neon.png" alt="" />
    <!-- </div> -->
  </div>
</html>
