<header class="topBar">
  <div class="fig">
    <mat-icon class="menu" (click)="onToggleSidenav()">menu_open</mat-icon>
    <img src="../../assets/coollogo_com.png" />
  </div>
  <div class="navInteractive" *ngIf="isLogin">
    <span class="welcome"> {{ welcome }} </span>
    <select class="language">
      <option selected="selected">EN</option>
      <option>SPAN</option>
      <option>日本語</option>
      <option>中文</option>
    </select>
    <mat-icon class="home">light_mode</mat-icon>
    <mat-icon class="register">switch_account</mat-icon>
    <span title="Click to Logout">
      <mat-icon class="signIn" (click)="logOut()">face</mat-icon>
    </span>
  </div>
</header>
<hr class="hr" />