$main-bg-color: black;
$main-bg-contrast:  rgba(0, 168, 173, 0.5);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: whitesmoke;
    align-items: center;
}

body{
    height: 100vh;
    width: 100%;
    align-items: center;
}

.headContainer {
    height: 500px;
    background: linear-gradient(to right, rgba(255,255,255,0) 40%,
              $main-bg-color), 
              linear-gradient(to left, rgba(255,255,255,0) 40%,
              $main-bg-color), 
              linear-gradient(to top, rgba(255,255,255,0) 40%,
              $main-bg-color), 
              linear-gradient(to bottom, rgba(255,255,255,0) 40%,
              $main-bg-color), 
              url(../../assets/MoviesBanner.jpg);
    background-color: transparent;
    background-size: cover;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headText {
    height: 60%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.headText h1, h2, h3, h4 {
    width: 80%;
    text-align: center;
}

.signupElements {
    width: 100%;
    display: flex;
    gap: 5px;
}

.EmailInput {
    background-color: white;
    color: black;
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 15px;
    text-indent: 10px;
}

.signUp {
    border-radius: 15px;
    background-color: red;
    height: 100%;
    width: 120px;
    transition: 0.3s;
    border: none;
    text-align: center;
}


.signUp:hover {
    background-color: red;    
    border: red;
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red ;
}

.signUp:active {
    color: #255784;
}