<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <mat-sidenav-container class="nav-container">
      <mat-sidenav-content>
        <app-nav-header-bar></app-nav-header-bar>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="headContainer">
      <div class="headText">
        <h1>Find every movie and series trending at the moment</h1>
        <h2>Watch anywhere offline</h2>
        <h3>Get started today!</h3>
        <div class="signupElements">
          <input
            type="text"
            class="EmailInput"
            placeholder="Your Email Address"
          />
          <button class="signUp" [routerLink]="['/register']">Sign up</button>
        </div>
      </div>
    </div>
    <div class="contentContainer"></div>
  </body>
</html>
