<html>
  <mat-sidenav-container class="nav-container">
    <mat-sidenav-content>
      <app-nav-header-bar></app-nav-header-bar>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <body>
    <div class="headContainer">
      <div class="headText">
        <h1>Find every movie and series trending at the moment</h1>
        <h2>Watch anywhere offline</h2>
        <h3>Get started today!</h3>
        <div class="formContainer">
          <form [formGroup]="form">
            <div class="signupElements">
              <mat-form-field appearance="outline">
                <mat-label><mat-icon>contact_mail</mat-icon> Email</mat-label>
                <div class="inputboxcontainer">
                  <input
                    matInput
                    placeholder="Your Email Address"
                    formControlName="email"
                  />
                </div>
              </mat-form-field>
              <!-- <mat-error *ngIf="this.email?.invalid && this.email?.touched">
                Given email is invalid!
              </mat-error> -->
            </div>
            <div class="signUpbtn">
              <button mat-raised-button [routerLink]="['/register']">
                Sign UP
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
