@import '../../styles'

@mixin webp-backgroundGradient($img)
    background-size: cover
    background-repeat: no-repeat
    background-image: linear-gradient(to bottom,rgba(black, 0.5) 10%,rgba(black, 1) 70%), url("#{$img}")
    filter: grayscale(20%)

*
  padding: 0
  margin: 0
  box-sizing: border-box
  color: whitesmoke

html
  height: 100vh
  width: 100vw
  font-size: 1.4em
  overflow: auto

body
    height: 100vh
    @include webp-backgroundGradient("../../assets/MoviesBanner.jpg")
    width: 100%
    align-items: center
    background-color: $main-bg-color

.headContainer
  height: 70%
  background-repeat: no-repeat
  display: flex
  align-items: center
  justify-content: center

.headText
  height: 20%
  width: 50%
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly


  & h1, h2, h3, h4
    width: 80%
    text-align: center

.signupElements
  width: 100%
  margin-top: 9%
  display: flex
  flex-direction: column
  justify-content: center
  gap: 0.5em
  background-color: transparent

::ng-deep .mat-form-field-flex > .mat-form-field-infix 
  padding: 0.4em 0px !important
::ng-deep .mat-form-field-label-wrapper 
  top: -1.5em

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label 
    transform: translateY(-1.1em) scale(.75)
    width: 133.33333%

form
  display: flex
  flex-direction: row

.signUpbtn
  width: 100%
  margin-left: 10%
  display: flex
  flex-direction: column
  justify-content: center
  gap: 0.5em
  background-color: transparent

button
  width: 100%
  height: 2.5em
  border: 1px $cyan-accent-color solid
  border-radius: 0.3em
  text-align: center
  font-size: 1em
  background-color: transparent
  display: flex
  justify-content: center
  align-items: center
  text-shadow: 0 0 0.25em $cyan-accent-color
  box-shadow: (inset 0 0 0.5em $cyan-accent-color, 0 0 0.25em $cyan-accent-color)
  transition: 0.3s

button:hover
  background-color: $cyan-accent-color
  color: $main-bg-color
  border: 1px $cyan-accent-color solid
  box-shadow: ((inset 0 0 0.5em $cyan-accent-color, 0 0 0.35em $cyan-accent-color), (inset 0 0 0.5em $cyan-accent-color, 0 0 0.45em $cyan-accent-color))

button:active
  background-color: $purple-accent-color
  color: $main-bg-color
  border: 1px $purple-accent-color solid
  box-shadow: ((inset 0 0 0.5em $purple-accent-color, 0 0 0.55em $purple-accent-color), (inset 0 0 0.5em $purple-accent-color, 0 0 0.65em $purple-accent-color))
  transition: 0.1s

mat-error
  width: 100%
  font-style: italic

mat-error
  color: red