<style>
    .register-body {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        background: url("../../assets/images/register-bg.jpg") no-repeat center center fixed;
    }

    .register-body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgb(0, 0, 0, 0.5);
        box-shadow: inset 100px 100px 250px #000000, inset -100px -100px 250px #000000;
    }

    .logo {
        position: relative;
        height: 90px;
        margin-top: 20px;
        margin-left: 25px;
        z-index: 2;
    }

    img {
        width: 170px;
    }

    .register-card {
        width: 40%;
        margin: auto;
        margin-bottom: 5rem;
        padding: 4rem 6rem;
        background-color: rgb(0, 0, 0, 0.7);
        z-index: 2;
    }

    .register-full-width {
        width: 100%;
    }

    .btn {
        display: block;
        padding: 0.7rem 0;
        background-color: #de0913;
        color: #fff;
    }

    .register-form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .register-role {
        color: #fff;
        border: 1px solid #de0913;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 3rem;
        color: #fff;
    }

    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        background: #333333;
    }

    mat-label {
        color: #fff;
    }
</style>
<section class="register-body">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="" class="logo-img">
    </div>
    <mat-card class="register-card">
        <h2>Register</h2>
        <form class="register-form">
            <mat-form-field class="register-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput class="register-input">
            </mat-form-field>
            <mat-form-field class="register-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type='email' class="register-input">
            </mat-form-field>
            <mat-form-field class="register-full-width" type="password" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput class="register-input">
            </mat-form-field>
            <mat-form-field class="register-full-width" type="password" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput class="register-input">
            </mat-form-field>
            <button mat-button disabled class="register-role" [matMenuTriggerFor]="menu">
                Select Role . . .
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>

            <mat-form-field class="register-full-width" appearance="fill">
                <mat-label>API Key</mat-label>
                <input matInput class="register-input">
            </mat-form-field>
            <div>
                <button mat-raised-button class="register-full-width btn" color="success">Register</button>
            </div>
        </form>
    </mat-card>
</section>