<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
</div>

<hr />

<p mydirective [highlightColor]="color">Highlight me!</p>

<p mydirective [highlightColor]="color" defaultColor="violet">
  Highlight me too!
</p>

<hr />

<input type="text" [name]="" mydirective [highlightColor]="color" />
{{ name }}
