<router-outlet></router-outlet>

<!-- <div *ngIf="shouldLogin">
  
<mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="side">
      <app-nav-sidebar></app-nav-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-nav-logged-in-header (sidenavToggle)="sidenav.toggle()"></app-nav-logged-in-header>
      <main>
        
    </main>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>

<div *ngIf="!shouldLogin">

  <mat-sidenav-container class="nav-container">
    <mat-sidenav-content>
      <app-nav-header-bar></app-nav-header-bar>
      <main>
        
      </main>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
 -->
