<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <mat-sidenav-container class="nav-container">
      <mat-sidenav-content>
        <app-nav-header-bar></app-nav-header-bar>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="signIn-wrapper">
      <h1 id="signIn">Sign in</h1>
      <form (ngSubmit)="signUser()" #myForm="ngForm">
        
        <input
          id="userName"
          #name="ngModel"
          required
          type="text"
          placeholder="User Name "
          [(ngModel)]="datas.username"
          [ngModelOptions]="{ standalone: true }"
        />
        <div class="alert alert-danger" *ngIf="name.errors?.['required']">
          <p>Enter the user name</p>
        </div>
        <pre></pre>
        <br />
        <input
          id="passwordInput"
          #password="ngModel"
          required
          type="password"
          placeholder="Password "
          [(ngModel)]="datas.password"
          [ngModelOptions]="{ standalone: true }"
        />
        <div class="alert alert-danger" *ngIf="password.errors?.['required']">
          Enter the password
        </div>
        <pre></pre>
        <br />
        <input
          id="signIn-internal-wrapper"
          type="submit"
          value="submit"
          [routerLink]="['/movielist']"
          (click)="login($event)"
        />
      </form>
      <pre></pre>

      <ul>
        <span></span>
        <li id="first-list-wrapper">
          <input (click)="saveValues()" type="checkbox" />
          <span> Remember me</span>
        </li>
        <li id="second-list-wrapper">Need help?</li>
      </ul>
      <button id="signUp-wrapper" type="submit" [routerLink]="['/register']">
        Sign Up
      </button>
    </div>
  </body>
</html>
