*
    margin: 0
    padding: 0

$backgroundColor: white
$backgroundSignIn: #34383D
$width: 100vm
$height: 100vm
html
    overflow: hidden
    width: $width
    padding: 0 !important
    margin: 0 !important
    height: $height
    background-color: $backgroundColor

body
    overflow: auto
    width: $width
    height: $height
    background-color: $backgroundColor

.signIn-wrapper
    width: 340px
    height: auto
    margin: 10% 20% auto 30%
    background-color: $backgroundSignIn
    border: 2px solid #3498db
    line-height: 2.5rem
    border-radius: 24px
    box-shadow: 44px 38px 35px 1px rgba(0,0,0,0.58)
    margin-bottom: 200px

#signIn
    display: flex
    justify-content: space-around
    text-align: center
    text-decoration: none
    text-transform: uppercase
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    font-size: 1.6rem
    font-weight: 600
    color: white

form
    display: block
    text-align: center
    input
        height: 50px
        width: 280px
        border: 1px solid #000
        border-radius: 24px
        perspective: 1px
        text-align: center
        border: 2px solid #3498db
    #passwordInput
        &:hover
            border: 2px solid #3498db
            transform: scale(1.2)
            border-color: #2ecc71
    #userName
        &:hover
            border: 2px solid #3498db
            transform: scale(1.2)
            border-color: #2ecc71

    .alrt-danger
        background-color: #f44336

    .alert
        color: red
        margin-bottom: 15px
        text-align: center

button
    display: flex
    justify-content: space-around
    text-align: center
    margin-left: 15%

#signIn-internal-wrapper
    color: white
    background-color: #CE4F4B
    font-weight: 700
    &:hover
        border: 2px solid #3498db
        transform: scale(1.2)
        border-color: #2ecc71s

ul
    text-decoration: none
    display: flex
    justify-content: space-evenly
    text-align: center
    flex-direction: row
    line-height: 4rem
    color: white
    li
        list-style: none

#signUp-wrapper
    display: flex
    justify-content: space-around
    text-align: center
    height: 50px
    width: 280px
    color: white
    font-weight: 700
    padding-top: 5%
    border: 2px solid #3498db
    border-radius: 24px
    background-color: #2096F3
    margin-left: 30px
    margin-bottom: 30px

a
    text-decoration: none
    color: white
