@import "../../styles"

*
  padding: 0
  margin: 0
  box-sizing: border-box
  color: whitesmoke
  background-color: $main-bg-color

html
  height: 100vh
  width: 100vw
  font-size: 1.4em
  overflow: auto

.hint
  display: flex
  flex-direction: column
  margin-right: 0%
  text-size: 1em
  align-items: end

mat-hint, mat-error
  width: 100%
  font-style: italic

mat-error
  color: red

mat-checkbox
  border: $cyan-accent-color
  background-color: transparent

.formContainer
  padding: 2%
  width: fit-content
  height: max-fit-content
  margin-left: 40%
  margin-top: 2%

  display: flex
  justify-content: center
  align-items: center
  border: 1px $purple-accent-color solid
  box-shadow: (inset 0 0 0.5em $cyan-accent-color, 0 0 0.25em $cyan-accent-color)
  overflow: visible

.labels
  width: 100%
  margin-left: 10%
  padding-left: 15%
  font-size: 1em
  background-color: transparent

.buttons
  width: 100%
  margin-left: 10%
  padding-left: 15%
  display: flex
  flex-direction: column
  justify-content: center
  gap: 0.5em
  background-color: transparent

button
  width: 40%
  height: 2em
  border: 1px $cyan-accent-color solid
  border-radius: 0.5em
  text-align: center
  font-size: 1em
  background-color: transparent
  display: flex
  justify-content: center
  align-items: center
  text-shadow: 0 0 0.25em $cyan-accent-color
  box-shadow: (inset 0 0 0.5em $cyan-accent-color, 0 0 0.25em $cyan-accent-color)
  transition: 0.3s

button:hover
  background-color: $cyan-accent-color
  color: $main-bg-color
  border: 1px $cyan-accent-color solid
  box-shadow: ((inset 0 0 0.5em $cyan-accent-color, 0 0 0.35em $cyan-accent-color), (inset 0 0 0.5em $cyan-accent-color, 0 0 0.45em $cyan-accent-color))

button:active
  background-color: $purple-accent-color
  color: $main-bg-color
  border: 1px $purple-accent-color solid
  box-shadow: ((inset 0 0 0.5em $purple-accent-color, 0 0 0.55em $purple-accent-color), (inset 0 0 0.5em $purple-accent-color, 0 0 0.65em $purple-accent-color))
  transition: 0.1s
