<div class="home__container">
  <div class="home__bg-container">
    <img src="../assets/img/home-bg.jpg" alt="home-img" class="hero-home" />
    <div class="home__bg-overlay"></div>
  </div>

  <header class="center-content">
    <a href="#"
      ><img src="../assets/img/logo.png" alt="Antraflix Logo" class="logo"
    /></a>
    <div class="btn-container">
      <button mat-raised-button class="btn">Sign In</button>
    </div>
  </header>

  <main class="home">
    <section class="home__splash">
      <div class="home__splash-text center-content">
        <h2>Get unlimited movies, TV shows, and more.</h2>
        <h3>Watch anywhere. Cancel anytime.</h3>
        <button mat-raised-button class="btn btn-started">Get Started</button>
      </div>
    </section>
    <hr />
    <section class="home__download">
      <div class="home__download-text center-content">
        <h2>Download your shows to watch offline.</h2>
        <h3>Save your favorites easily and always have something to watch.</h3>
      </div>
      <div class="home__download-image">
        <img src="../assets/img/mobile-0819.jpg" alt="stranger-things" class="mobile-img"/>
        <div class="download-image__overlay">
          <div class="left-grp">
            <img src="../assets/img/boxshot.png" alt="cover-img" />
            <div class="download-image__description">
              <h4>Stranger Things</h4>
              <p>Downloading...</p>
            </div>
          </div>
          <img src="./assets/img/download-icon.gif" alt="dl-img" class="dl-icon" />
        </div>
      </div>
    </section>
  </main>
</div>
