<mat-card class="card" [ngStyle]="{'background-image': 'url(' + movie.image + ')'}" (click)="onClick(movie.id)">
    <mat-card-content class="card-content">
        <mat-card-title>
            <h1>{{movie.title}}</h1>
        </mat-card-title>
        <p>{{movie.overview | slice:0:100}}...</p>
        <div class="icons-div">
            <mat-icon class="icons">favorite_border</mat-icon>
            <mat-icon class="icons">play_circle_outline</mat-icon>
            <mat-icon class="icons">thumb_up_alt</mat-icon>
        </div>
    </mat-card-content>
</mat-card>