<body>
  <main>
    <div>
      <label>USER REGISTRATION</label>
      <ul>
        <li><input type="text" placeholder="UserName*" /></li>
        <li><input type="text" placeholder="User Email*" /></li>
        <li><input type="text" placeholder="Password*" /></li>
        <li><input type="text" placeholder="Confirm Password*" /></li>
        <li>
          <select disabled>
           <option>Role*</option> 
          </select>
        </li>
        <li><input type="text" placeholder="Api Key*" /></li>
        <li><button>Register</button></li>
      </ul>
    </div>
  </main>
</body>
