<div class="home__container">
  <div class="home__bg-container">
    <img src="../assets/images/home-bg.jpg" alt="home-img" class="hero-home" />
    <div class="home__bg-overlay"></div>
  </div>

  <header class="center-content">
    <a href="#"
      ><img src="../assets/images/logo.png" alt="Antraflix Logo" class="logo"
    /></a>
    <div class="btn-container">
      <button mat-raised-button class="btn">Sign In</button>
    </div>
  </header>

  <main class="home">
    <app-home-splash></app-home-splash>
    <hr />
    <app-home-download-card></app-home-download-card>
  </main>
</div>