<header class="topBar">
  <div class="fig">
    <img src="../../assets/coollogo_com.png" alt="" />
  </div>
  <div class="navInteractive">
    <select class="language">
      <option selected="selected">EN</option>
      <option>ES</option>
      <option>日本語</option>
      <option>中文</option>
    </select>
    <span title="Login">
      <mat-icon class="signIn" [routerLink]="['/login']">login</mat-icon>
    </span>
    <span title="Register">
      <mat-icon class="register" [routerLink]="['/register']">
        how_to_reg
      </mat-icon>
    </span>
    <span title="Home">
    <mat-icon class="home" [routerLink]="['/home']">home</mat-icon>
  </span>
  </div>
</header>
<hr class="hr" />
