<section class="register-body">
  <mat-card class="register-card">
    <h2>Register</h2>
    <form
      class="register-form"
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
    >
      <div class="form-group">
        <mat-form-field class="register-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput class="register-input" formControlName="username" />
        </mat-form-field>
        <div class="errors" *ngIf="username?.value.length > 0">
          <mat-error
            *ngIf="username?.errors?.['minlength'] && (username?.dirty || username?.touched)"
          >
            Min Length is 3 characters</mat-error
          >
          <mat-error
            *ngIf="username?.errors?.['maxlength'] && (username?.dirty || username?.touched)"
          >
            Max Length is 20 characters</mat-error
          >
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="register-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            class="register-input"
            formControlName="email"
          />
        </mat-form-field>
        <div class="errors" *ngIf="email?.value.length > 0">
          <mat-error *ngIf="!email?.valid && (email?.dirty || email?.touched)"
            >Please enter a valid email</mat-error
          >
          <mat-error
            *ngIf="email?.errors?.['minlength'] && (email?.dirty || email?.touched)"
          >
            Min Length is 7 characters</mat-error
          >
          <mat-error
            *ngIf="email?.errors?.['maxlength'] && (email?.dirty || email?.touched)"
          >
            Max Length is 50 characters</mat-error
          >
        </div>
      </div>

      <div class="form-group">
        <mat-form-field
          class="register-full-width"
          type="password"
          appearance="fill"
        >
          <mat-label>Password</mat-label>
          <input matInput class="register-input" formControlName="password" />
        </mat-form-field>
        <div class="errors" *ngIf="password?.value.length > 0">
          <mat-error *ngIf="password?.errors?.['pattern']">
            <p>Password should have at least 8 characters</p>
            <p>Password must contain 1 capital letter</p>
            <p>Password must contain 1 numeric digit</p>
            <p>Password must contain 1 special character</p>
          </mat-error>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field
          class="register-full-width"
          type="password"
          appearance="fill"
        >
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            class="register-input"
            formControlName="confirmpassword"
          />
        </mat-form-field>
      </div>
      <button
        mat-button
        disabled
        class="register-role"
        [matMenuTriggerFor]="menu"
      >
        Select Role . . .
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <mat-form-field class="register-full-width" appearance="fill">
        <mat-label>API Key</mat-label>
        <input matInput class="register-input" formControlName="apikey" />
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          class="register-full-width"
          color="success"
          type="submit"
        >
          Register
        </button>
      </div>
    </form>
  </mat-card>
</section>
