<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./movie-page.component.sass" />
  </head>
  <body>
    <H1>Hello there </H1>

    <button id="get-wrapper" (click)="(getPosts)">Get</button>
    <div *ngFor="let post of posts | async">
      {{ post }}
    </div>
  </body>
</html>
